{{#if name}}
{{> ../viewWrapper/title title=name }}
{{else}}
{{> ../viewWrapper/title title="[DEFAULT]" }}
{{/if}}

{{#> ../viewWrapper/content}}
<table class="commandList">
    <colgroup>
        <col class="commandCol messageCol">
        <col class="commandCol execCol">
        <col class="commandCol modeCol">
        <col class="commandEditCol">
    </colgroup>
    <thead>
        <tr>
            <th align="left" class="messageHeader">
                <div> Message</div>
            </th>
            <th align="center" class="execHeader">
                <div>
                    Command
                </div>
            </th>
            <th align="right" class="modeHeader">
                <div>
                    Next Mode
                </div>
            </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        {{#each this.command}}
        <tr>
            {{#if this.message}}
            <td class="commandCell messageCell">{{this.message}}</td>
            {{else}}
            <td class="commandCell messageCell">[DEFAULT]</td>
            {{/if}}

            {{#if this.command}}
            <td align="center" class="commandCell execCell">{{this.command}}</td>
            {{else}}
            <td align="center" class="commandCell execCell emptyCell"> - </td>
            {{/if}}

            {{#if this.mode.length includeZero=false}}
            <td align="right" class="commandCell modeCell">{{this.mode}}</td>
            {{else}} {{#if this.mode.length includeZero=true}}
            <td align="right" class="commandCell modeCell">[DEFAULT]</td>
            {{else}}
            <td align="right" class="commandCell modeCell emptyCell"> - </td>
            {{/if}}
            {{/if}}

            <td class="commandEditButtonCell">
                <button class="divButton commandDeleteButton"> x </button>
                <button class="divButton commandEditButton"> -> </button>
            </td>
        </tr>
        {{/each}}
        <tr>
            <td colspan="4">
                <div class="commandEditButtonCell commandAddButton">
                    <button class="divButton">+</button>
                </div>
            </td>

        </tr>
    </tbody>
</table>
{{/ ../viewWrapper/content}}

{{#> ../viewWrapper/finishRow}}
{{#if name}}
{{> ../viewWrapper/finishButton ident="renameButton" text="Rename"}}
{{else}}
{{> ../viewWrapper/finishButton ident="renameButton" text="Rename" disabled="true"}}
{{/if}}
{{> ../viewWrapper/finishButton ident="cancelButton" text="Cancel"}}
{{/ ../viewWrapper/finishRow}}