<h2>All Modes</h2>
<div class="modeListTable">
    {{#each data}}
    {{#if .}}
    <div class="modeListEntryWrapper" style="order:1">
        <button class="divButton modeListEntry" value="{{.}}">
            {{.}}
        </button>
    </div>
    {{else}}
    <div class="modeListEntryWrapper" style="order:0">
        <button class="divButton modeListEntry" value="{{.}}">
            [DEFAULT]
        </button>
    </div>
    {{/if}}
    {{/each}}
</div>

{{#if finishButtons}}
    {{> ../finishRow/finishRow finishButtons}}
{{else}}
    {{#> ../finishRow/finishRow}}
        {{> ../finishRow/finishButton ident="addButton" text="Add"}}
        {{#if showCancel}}
        {{> ../finishRow/finishButton ident="cancelButton" text="Cancel"}}
        {{/if}}
    {{/ ../finishRow/finishRow}}
{{/if}}