{{> ../viewWrapper/title title="All Modes" }}
{{#> ../viewWrapper/content}}
<div class="modeListTable">
    {{#each data}}
    {{#if .}}
    <div class="modeListEntryWrapper" style="order:1">
        <button class="divButton modeListEntry" value="{{.}}">
            {{.}}
        </button>
    </div>
    {{else}}
    <div class="modeListEntryWrapper" style="order:0">
        <button class="divButton modeListEntry" value="{{.}}">
            [DEFAULT]
        </button>
    </div>
    {{/if}}
    {{/each}}
</div>
{{/ ../viewWrapper/content}}

{{#if finishButtons}}
    {{> ../viewWrapper/finishRow finishButtons}}
{{else}}
    {{#> ../viewWrapper/finishRow}}
        {{> ../viewWrapper/finishButton ident="addButton" text="Add"}}
        {{#if showCancel}}
        {{> ../viewWrapper/finishButton ident="cancelButton" text="Cancel"}}
        {{/if}}
    {{/ ../viewWrapper/finishRow}}
{{/if}}