<h2>All Modes</h2>
<div class="modeListTable">
    {{#each data}}
    {{#if .}}
    <div class="modeListEntryWrapper" style="order:1">
        <button class="divButton modeListEntry" value="{{.}}">
            {{.}}
        </button>
    </div>
    {{else}}
    <div class="modeListEntryWrapper" style="order:0">
        <button class="divButton modeListEntry" value="{{.}}">
            [DEFAULT]
        </button>
    </div>
    {{/if}}
    {{/each}}
</div>

<div class="finishRow">
    {{#if finishButtons}}
    {{#each finishButtons}}
    <button {{#if disabled}} disabled="true" {{/if}} class="divButton finishButton {{ident}}">{{text}}</button>
    {{/each}}
    {{else}}
    <button class="divButton finishButton addButton">Add Mode</button>
    {{#if showCancel}}
    <button class="divButton finishButton cancelButton">Cancel</button>
    {{/if}}
    {{/if}}
</div>