{{> ../viewWrapper/title title="" }}
{{#> ../viewWrapper/content}}
<div class="fieldRow messageRow">
    <div class="fieldLabel messageLabel">
        Message:
    </div>
    <div class="fieldEditor messageEditor">
        <input type="text" value="{{this.message}}"></input>
    </div>
</div>
<div class="fieldRow execRow">
    <div class="fieldLabel execLabel">
        Command:
    </div>
    <div class="fieldEditor execEditor">
        <input type="text" value="{{this.command}}"></input>
    </div>
</div>
<div class="fieldRow modeRow">
    <div class="fieldLabel modeLabel">
        Next Mode:
    </div>
    <div class="fieldEditor modeEditor">
        <div class="modeLabel">
            {{#if this.mode.length includeZero=false}}
            {{this.mode}}
            {{else}}
            {{#if this.mode.length includeZero=true}}
            [DEFAULT]
            {{else}}
            [END]
            {{/if}}
            {{/if}}
        </div>
        <button class="modeChangeButton divButton">
            Edit
        </button>
    </div>
</div>
{{/ ../viewWrapper/content}}

{{#> ../finishRow/finishRow}}
{{> ../finishRow/finishButton ident="saveButton" text="Save"}}
{{> ../finishRow/finishButton ident="cancelButton" text="Cancel"}}
{{/ ../finishRow/finishRow}}